<nav class="nav  nav--social">
  {% for link in site.social_links %}
    {% if link[1] != blank %}
      {% assign id = link[0] | downcase %}
      <a href="{{ link[1] }}">
        {% include icon.html id=id title=id %}
      </a>
    {% endif %}
  {% endfor %}
  <a href="https://hackmd.io/@learnai2024" title="HackMD">
    {% include icon.html id="link" title="HackMD" %}
  </a>
  <a href="https://discord.gg/U9xXgfHX" title="Discord">
    {% include icon.html id="link" title="Discord" %}
  </a>
</nav>
